@media screen and (max-width: 600px) {
    #sub{
        width: 15rem;
        background-color: #ffa60000;
        float: left;
        margin: 0 0 0 0;
        padding: 0;
        /* display: flex; */
    }
    #hamburger-icon{
        margin: 1rem 0 0 0;
    }
    .jingle{
        margin: 22rem -6rem 0 -35rem;
        align-items: center;
        justify-content: space-around;
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bolder;
    }
    .text1{
        display: inline-block;
        margin: 2rem 0 0 10rem;
    }
    .text2{
        display: flex;
        margin: 0.5rem 0 0 13rem;
        align-items: center;
        justify-items: baseline;
    }
    .btn:link, .btn:visited {
        text-decoration: none;
        padding: 1rem 0 1rem 1.9rem;
        border-radius: 10rem;
        position: absolute;
        font-size: 1.3rem; 
        top: 20rem;
        /* right: -4rem; */
        z-index: inherit;
        width: 12rem;
        margin: 0 3rem 0 18.4rem;
    }
    #icon{
        width: 3rem;
        cursor: pointer;
        position: absolute;
        justify-items: center;
        margin: 0 0 0 10.6rem;
    }
    .offers{
        margin: 0 0 0 4.5rem;
        position: absolute;
    }
    .section-title{
        font-size: 1.5rem;
        padding: 2rem;
    }
    .break{
        height: 22rem;
        width: 15rem;
        position: absolute;
    }
    .brunch{
        height: 22rem;
        width: 15rem;
        position: absolute;
        margin: 23rem 0 0 0;
    }
    .lunch{
        height: 22rem;
        width: 15rem;
        position: absolute;
        margin: 46rem 0 0 0;
    }
    .dinner{
        height: 22rem;
        width: 15rem;
        position: relative;
        margin: 69rem 0 0 0;
    }
    blockquote{
        margin: 95rem 0 0 0;
        background-color: var(--color-quote);
        font-size: 0.2rem;
    }
    footer{
        height: 20vh;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    footer ul i{
        margin: 1rem 0 0 -1.3rem;
    }
}